<div class="datatable">
    <table class="table table-striped" id="tb-mesage-recent">
        <thead>
        <tr>
            <th class="col-md-1">name</th>
            <th class="col-md-3">mess</th>
            <th class="col-md-3">date</th>
            <!--<th>Nhóm</th>-->
            <th>Xóa</th>
        </tr>
        </thead>
        <tbody id="body-info-employees">
        </tbody>
    </table>
</div>
