<div class="datatable">
    <table class="table table-striped" id="tb-mesage-recent">
        <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-3"></th>
            <th class="col-md-3"></th>
            <!--<th>Nhóm</th>-->
            <th></th>
        </tr>
        </thead>
        <tbody id="body-info-employees">
        </tbody>
    </table>
</div>
